*.pdb
*.suo
*.pyc
*.pyo
obj/
class/
Debug/
venv/
.idea/
.settings
.pydevproject
.ropeproject
.DS_Store
web/base/local_*settings.py
web/apps/mediatool/selenium_tests/test_config.json
config.codekit
WrapperCielo24/WrapperCielo24/bin/Release/Newtonsoft.Json.xml
WrapperCielo24/WrapperCielo24/bin/Release/Newtonsoft.Json.dll
WrapperCielo24/CommandLineTool/bin/Release/CommandLine.xml
WrapperCielo24/CommandLineTool/bin/Release/CommandLineTool.exe
WrapperCielo24/UnitTest/bin/Release/WrapperCielo24.dll
WrapperCielo24/CommandLineTool/bin/Release/CommandLine.dll
WrapperCielo24/UnitTest/bin/Release/Newtonsoft.Json.dll
WrapperCielo24/UnitTest/bin/Release/Newtonsoft.Json.xml
WrapperCielo24/WrapperCielo24/bin/Release/WrapperCielo24.dll
WrapperCielo24/CommandLineTool/bin/Release/Cielo24Merged.dll
cielo24_.NET/WrapperCielo24/bin/Release/Newtonsoft.Json.xml
cielo24_.NET/UnitTest/bin/Release/Newtonsoft.Json.xml
cielo24_.NET/CommandLineTool/bin/Release/CommandLine.xml
cielo24_.NET/WrapperCielo24/bin/Release/Newtonsoft.Json.dll
cielo24_.NET/UnitTest/bin/Release/WrapperCielo24.dll
cielo24_.NET/UnitTest/bin/Release/Newtonsoft.Json.dll
cielo24_.NET/CommandLineTool/bin/Release/CommandLineTool.exe
cielo24_.NET/CommandLineTool/bin/Release/CommandLine.dll
cielo24_.NET/CommandLineTool/bin/Release/Cielo24Merged.dll
cielo24_.NET/WrapperCielo24/bin/Release/WrapperCielo24.dll
*.class
*.jar